.partners {

    &__title {
        position: relative;
        @extend %title-font;
        font-size: 21px;
        line-height: 20px;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;

        padding-left: 23px;

    
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -23px;
        margin-bottom: -23px;
    }

    &__countrydescription{
        @extend %title-font;
        font-size: 15px;
        line-height: 19px;
    }

    @media screen and (max-width: 767px) {
        &__item {
            margin-bottom: 23px;
            margin-left: 23px;
            @include flex-formula(2);
        }
    }
    

    @media screen and (min-width: 768px) and (max-width:1199px) {
        &__item {
            margin-bottom: 23px;
            margin-left: 23px;
            @include flex-formula(3);
        }
    }

    @media screen and (min-width: 1200px) {
        &__item {
            margin-bottom: 23px;
            margin-left: 23px;
            @include flex-formula(6);
            align-items: center;
        }
    }

    &__link  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid getColor('partners-color');
        border-radius: 4px;
        color: getColor('partners-color');
        @include animation2(color, border-color);
    }

    &__link:hover,
    &__link:focus {
        color: getColor('hover-color');
        border-color: getColor('hover-color');
    }

    &__icon {
        fill: currentColor;
    }
}