.team {
    background-color: getColor('bg-2');

    &__title {
        @extend %title-font;
    }

    &__list {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin-left: -30px;
            margin-bottom: -30px;
        }
    }

    &__item {
        text-align: center;
        padding-bottom: 30px;
        background-color: var(--bg-1);
        @extend %shadow;
        border-radius: 0px 0px 4px 4px;
    }

    @media screen and (max-width: 767px) {
        &__item:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        &__item {
            @include flex-formula(2);
            margin-bottom: 30px;
            margin-left: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        &__item {
            margin-bottom: 30px;
            margin-left: 30px;
            @include flex-formula(4);
        }
    }
}

.team-member {
    &__image {
        display: block;
        margin-bottom: 30px;
        width: 100%;
        height: auto;
    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        margin-bottom: 10px;
    }

    &__text {
        color: getColor('second-color');
        font-size: 16px;
        line-height: 1.18;
        margin-bottom: 16px;
    }

    &__social-links {
        justify-content: center;
        @extend %social-links;
    }

    &__item:not(:last-child) {
        @extend %social-links__item;
    }

    &__link {
        @extend %social-links__link;
    }

    &__link:hover,
    &__link:focus {
        @extend %social-links__link--hover-or-focus;
    }

    &__icon {
        @extend %social-links__icon;
    }
}