$primery-text-color: #757575;
$title-text-color: #212121;
$accent-color: #D91C2C;
$background-color: #ffffff;
$herobackground-color: #2f303a;
$bgc-section-color: #f5f4fa;
$tel-mail-color: rgba(255, 255, 255, 0.6);
$client-color: #afb1b8;
$team-social-color: #D8D9DF;
$footer-bgc: rgba(255, 255, 255, 0.1);
$portfolio-bgc: #ececec;
$bgc-img-desc: rgba(47, 48, 58, 0.8);
$box-shadow-section-team: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$bgc-backdrop: rgba(0, 0, 0, 0.2);
$shadow-for-modal: rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$bgc-close-modal-btn: rgba(0, 0, 0, 0.1);
$border-color-submite: rgba(255, 255, 255, 0.3);
$filter-submite: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
$submit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$modal-background-color-textarea: rgba(33, 33, 33, 0.2);
$textarea-color: rgba(117, 117, 117, 0.5);
